<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Linq.DataAccess.Properties.Settings.Linq_projectConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Linq_project;Integrated Security=True;Persist Security Info=True"
            providerName="System.Data.SqlClient" />
        <add name="Linq.DataAccess.Properties.Settings.Linq_projectConnectionString1"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Linq_project;Persist Security Info=True;User ID=linq;Password=linq"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>